html {
    background-color: white;
}

:root {
    --main: lightpink;
    --bg: rgba(0,0,0,0.6);
    --bg2: rgba(31, 4, 30, 0.6);
}

* {
    user-select: none;
    user-zoom: none;
}

body {
    margin: 32px;
    width: 960px;
    height: 540px;
    background-color: black;
    background-image: url("image.png");
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
    font-family: "Radio Space Bold";
}

#container {
    backdrop-filter: blur(16px);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}

header {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    border-bottom: 1px solid var(--main);
    box-shadow: 0px 0px 16px var(--main);
    font-family: "Radio Space Bold";
    background-color: var(--bg);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-top: 1px solid var(--main);
    font-family: "Radio Space Bold";
    background-color: var(--bg);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 16px;
    width: 100%;
    box-shadow: 0px 0px 8px var(--main);
}

header i {
    margin-top: -8px;
}

header span {
    font-size: 16px;
}

@keyframes partnerAnim {
    0% {
        transform: translateY(-4px) rotateZ(-1deg);
    }
    100% {
        transform: translateY(4px) rotateZ(1deg);
    }
}

main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:flex-end;
    height: 461px;
}

#partner {
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.75));
}

#partner p {
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 4px black;
}

.partnerTextSmol {
    padding-top: 16px;
}

.partnerTextBig {
    font-size: 24px;
}

.partnerTextAbility {
    font-size: 12px;
}

#partner img {
    height: 360px;
    animation: partnerAnim 5s infinite ease-in-out alternate;
}

#songwheel {
    margin-bottom: -12px;
}

#songwheel .song:nth-child(1) {
    transform: translateX(-60px);
    opacity: 0.5;
    clip-path: inset(13px 0 0 0);
}
#songwheel .song:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0.75;
}
#songwheel .song:nth-child(5) {
    box-shadow: 0px 0px 8px var(--main);
    width: 320px;
    background-color: var(--bg2);
}
#songwheel .song:nth-last-child(1) {
    transform: translateX(-30px);
    opacity: 0.75;
    clip-path: inset(0 0 4px 0);
}

.song {
    background-color: rgba(62, 8, 58, 0.6);
    border: 1px solid var(--main);
    border-left: 0;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 300px;
    margin-bottom: 8px;
    transition: width 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.song:hover {
    width: 320px;
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--main);
    background-color: var(--bg2);
}

.songName {
    font-size: 24px;
}

.songArtist {
    font-style: italic;
    font-size: 12px;
    text-align: right;
}

.songMain {
    padding: 4px;
    padding-right: 8px;
}

.songDifficulties {
    padding: 4px;
    border-left: 1px solid var(--main);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 4px;
}

.songDifficulties span {
    text-align: center;
    width: 32px;
    height: 16px;
    line-height: 18px;
}

.songDifficulties span:nth-child(1) {
    color: greenyellow;
}
.songDifficulties span:nth-child(2) {
    color: lightblue;
}
.songDifficulties span:nth-child(3) {
    color: lightcoral;
}
.songDifficulties span:nth-child(4) {
    color: plum;
}

#songinfo {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#songinfo img {
    border: 1px solid var(--main);
    box-shadow: 0px 0px 4px var(--main);
    border-radius: 8px;
    transform: rotateZ(1deg);
    width: 200px;
}

#songinfoinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* yeah uhh i lost my senses here, sorry about that */

#songinfoinfoinfo {
    display: flex;
    flex-flow: row;
    height: 200px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid var(--main);
    box-sizing: border-box;
    background-color: var(--bg2);
    box-shadow: 0px 0px 4px var(--main);
    font-size: 16px;
}

#songinfoinfoinfo div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

#songinfoinfoinfo div:first-child {
    border-right: 1px solid var(--main);
    margin-left: 4px;
    padding-right: 4px;
}

#songinfoinfoinfo div:last-child {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

#songinfoinfoinfo div span {
    padding-left: 8px;
    border-bottom: 1px solid var(--main);
    display: block;
    width: 100%;
    height: 27px;
}

#songinfoinfoinfo div span:last-child {
    border-bottom: none;
}

/* ok senses back to normal */

#thethingthatholdseverythingbuttheplaybutton {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--main);
    box-sizing: border-box;
    background-color: var(--bg2);
    box-shadow: 0px 0px 4px var(--main);
    overflow: hidden;
}

#tabs {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--main);
}

#tabs span {
    border-right: 1px solid var(--main);
    padding: 8px;
}

#tabs span:first-child {
    background-color: var(--bg);
}

#tabs span:last-child {
    border-right: none;
}

#content_real {
    padding: 8px;
}

#STARtBUTTON {
    background-color: var(--bg2);
    border-radius: 8px;
    padding: 8px;
    padding-right: 10px;
    border: 1px solid var(--main);
    transform: skewX(-8deg);
    font-size: 24px;
}

#STARtBUTTON span {
    transform: skewX(8deg);
    display: block;
}